<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <p class="navbar-brand mr-1">JGSP - Dashboard</p>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Search -->
  <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <div class="input-group-append">
        <a [routerLink] = "['/login']"><button class="btn btn-primary" type="button">
          Log Out
        </button></a>
      </div>
    </div>
  </div>

</nav>