<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Change user information</div>
      <div class="card-body">
        <form #userUpdateForm="ngForm" (ngSubmit)="OnSubmit(userUpdateForm)">
          <!-- EMAIL -->
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="email" id="Email" [class.is-invalid]="EmailH.invalid && EmailH.touched" 
                  #EmailH="ngModel" class="form-control" [(ngModel)]="currentUser.Email" 
                  name="Email" required placeholder="Email" disabled>
                  <label for="Email">Email</label>
                </div>
              </div>
            </div>
          </div>
          <!-- NAME AND SURNAME -->
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="Name" class="form-control" #NameH="ngModel" 
                  [class.is-invalid]="NameH.invalid && NameH.touched"
                  [(ngModel)]="currentUser.Name" name="Name" placeholder="Name" required>
                  <label for="Name">Name</label>
                </div>
                <small class="text-danger" [class.d-none] = "NameH.valid || NameH.untouched">Required field!</small>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="Surname" class="form-control" #SurnameH="ngModel" 
                  [(ngModel)]="currentUser.Surname" name="Surname" placeholder="Surname" required 
                  [class.is-invalid]="SurnameH.invalid && SurnameH.touched">
                  <label for="Surname">Surname</label>
                </div>
                <small class="text-danger" [class.d-none] = "SurnameH.valid || SurnameH.untouched">Required field!</small>
              </div>
            </div>
          </div>
          <!-- ADDRESS -->
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="Address" class="form-control" #AddressH="ngModel"
                   [(ngModel)]="currentUser.Address" name="Address" placeholder="Address" required 
                   [class.is-invalid]="AddressH.invalid && AddressH.touched">
                  <label for="Address">Address</label>
                </div>
                <small class="text-danger" [class.d-none] = "AddressH.valid || AddressH.untouched">Required field!</small>
              </div>
            </div>
          </div>
          <!-- BIRTHDAY -->
          <div class="form-group">
            <div class="form-label-group">
              <input  min="1014-05-11" max="2014-05-20"
              type="date" id="Birthday" class="form-control" 
              #Birthday="ngModel" [(ngModel)]="showDate" name="Birthday" required/>
              <label for="Birthday">Datum rodjenja</label>
            </div>
          </div>
          
          <!-- tip putnika -->
          <div *ngIf="this.userRole==0" class="form-group my-div">
              <div class="form-label-group">
                  <div *ngFor = "let element of dropdownToPass" class="my-div">
                      <label>{{element.label}} &nbsp;</label>
                      <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" name="PassengerType" 
                      [(ngModel)]="currentUser.PassengerType" required>
                          <option  *ngFor = "let item of element.value" [value]="item.value">{{item.name}}</option>
                      </select>
                      &nbsp;&nbsp;&nbsp;
                  </div>
              </div>
          </div>
  
          <button class="btn btn-primary btn-block" type="submit"
          [disabled]="userUpdateForm.form.invalid">Change info</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Change user information</div>
      <div class="card-body">
        <form #userPassChange="ngForm" (ngSubmit)="PassworrdChange()">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <show-hide-password btnStyle="primary">
                  <div class="form-label-group">
                      <input type="password" id="inputPassword" class="form-control" #PasswordH="ngModel" 
                      [(ngModel)]="currentPass" name="Password" required 
                      [class.is-invalid]="PasswordH.invalid && PasswordH.touched" placeholder="Password"
                      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{1,}$" minlength="6">
                      <label for="inputPassword">Current password</label>
                  </div>
                </show-hide-password>
                <div *ngIf="PasswordH.errors && (PasswordH.invalid || NewPasswordHPassH.touched)">
                    <small class="text-danger" *ngIf="PasswordH.errors.required">
                    Required field! </small> 
                    <small class="text-danger" *ngIf="PasswordH.errors.minlength">
                      Password must have at least 6 characters! </small> 
                    <small class="text-danger" *ngIf="PasswordH.errors.pattern">
                      Password must contain at least 1 number, 1 big and small letter and 1 special character! </small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <show-hide-password btnStyle="primary">
                  <div class="form-label-group">
                    <input type="password" #NewPassH="ngModel" id="newPass" class="form-control"
                    [(ngModel)]="newPassword" name="newPass" required 
                    [class.is-invalid]="NewPassH.invalid && NewPassH.touched" placeholder="Password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{1,}$" minlength="6">
                    <label for="newPass">New password</label>
                  </div>
                </show-hide-password>              
                <div *ngIf="NewPassH.errors && (NewPassH.invalid || NewPassH.touched)">
                    <small class="text-danger" *ngIf="NewPassH.errors.required">
                    Required field! </small> 
                    <small class="text-danger" *ngIf="NewPassH.errors.minlength">
                      Password must have at least 6 characters! </small> 
                    <small class="text-danger" *ngIf="NewPassH.errors.pattern">
                      Password must contain at least 1 number, 1 big and small letter and 1 special character! </small>
                </div>
              </div>
              <div class="col-md-6">
                  <show-hide-password btnStyle="primary">
                      <div class="form-label-group">
                        <input type="password" id="confirmPassword" class="form-control" #ConfirmPasswordH="ngModel" 
                        [(ngModel)]="confirmNewPassword" name="ConfirmPassword" placeholder="Confirm password" 
                        required [class.is-invalid]="ConfirmPasswordH.invalid && ConfirmPasswordH.touched" 
                        ng-pattern="newPassword">
                        <label for="confirmPassword">Confirm new password</label>
                      </div>
                  </show-hide-password>
                <small class="text-danger" [class.d-none]="ConfirmPasswordH.valid || ConfirmPasswordH.untouched">
                  Required field! </small> 
                <small class="text-danger" [class.d-none]="ConfirmPasswordH.untouched || newPassword == confirmNewPassword">
                  &nbsp;Passwords doesn't match!</small>
              </div>
            </div>
          </div>  
          <button class="btn btn-primary btn-block" type="submit"
          [disabled]="userPassChange.form.invalid">Change password</button>
        </form>
      </div>
    </div>
  </div>
  

  <div *ngIf="this.userRole==0">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Evidence</div>
          <div class="card-body">
            <label *ngIf="!this.isDocumentAttached" class="text-danger">!!!<br></label>
            <label>{{this.documentStatus}}</label>
            <form #uploadImageForm="ngForm" (ngSubmit)="uploadFile(uploadImageForm)">
              <div class="form-group my-div">
                <div class="form-label-group">
                  <input type="file" class="form-control" name="dokaz"
                  (change)="handleFileInput($event)" accept="image/png, image/jpeg"/>
                  <label for="dokaz">User type evidence</label>
                </div>
              </div>
    
              <button class="btn btn-primary btn-block" type="submit"
              [disabled]="uploadImageForm.form.invalid">Upload image</button>
            </form>
          </div>
        </div>
      </div>
  </div>