<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Prijava</div>
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="OnSubmit(Email.value, Passwod.value)">
        <div class="form-group">
          <div class="form-label-group">
            <input type="email" #Email ngModel name="Email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
            <label for="inputEmail">Email adresa</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" #Password ngModel name="Passwod" id="inputPassword" class="form-control" placeholder="Password" required="required">
            <label for="inputPassword">Lozinka</label>
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me">
              Remember Password
            </label>
          </div>
        </div> -->
        <a class="btn btn-primary btn-block" [routerLink] = "['/dashboard']">Login</a>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" [routerLink] = "['/register']">Register an Account</a>
      </div>
    </div>
  </div>
</div>
