<form #displayLineForm="ngForm">
    <div class="form-group my-div">
        <div class="form-label-group">
            <div class="my-div">
                <label>{{dropdownToPass.label}} &nbsp;</label>
                <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" required 
                [(ngModel)]="selectedLine" name="lineToDisplay" #LineToDisplayHash="ngModel">
                  <option *ngFor="let item of dropdownToPass.value">{{item}}</option>
                </select>
                &nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    &nbsp;&nbsp;
    <button (click)="displayLineStations()" [disabled]="displayLineForm.form.invalid">Show</button>
</form>

<hr>

<div id="map" style="width: 100%; height: 80%;"></div>