<div>
  <button type="button" class="btn btn-primary"
    (click) = "toggleForm()">
    {{showForm ? "Odustani" : "Dodaj stanicu"}}
  </button>
  <br/><br/>
  <div *ngIf="showForm"> 
    <form #addNewStationForm="ngForm">
      <!-- Name -->
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="StationName" name="StationName" class="form-control" placeholder="Station name" [(ngModel)]="newStationName" 
          [class.is-invalid]="NewStationNameHash.invalid && NewStationNameHash.touched" #NewStationNameHash="ngModel" required> 
          <label for="StationName">Ime stanice</label>  
        </div>
      </div>
      <!-- Address -->
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="StationAddress" class="form-control" placeholder="Station address" 
          required [(ngModel)] = "newStationAddress" name="StationAddress"
          [class.is-invalid]="NewStationAddressHash.invalid && NewStationAddressHash.touched" #NewStationAddressHash="ngModel">
          <label for="StationAddress">Adresa stanice</label>  
        </div>
      </div>
      <!-- All coordinates -->
      <div class="form-group">
        <div class="form-label-group">
          <label>Koordinate</label><br><br>
          <select name="chooseCoord" class="dropdown no-arrow dropdown-toggle" id="userDropdown" 
          [(ngModel)]="chosenCoordAddToStation" required>
              <option *ngFor = "let item of coordinatesDropdown.value">{{item}}</option>
          </select>
        </div>
      </div>
      &nbsp;
      <button (click)="addNewStation()" [disabled]="addNewStationForm.form.invalid">OK</button>
    </form>
  </div>
  <hr>
</div>

<!-- Dodavanje novih koordinata -->
<div>
    <button type="button" class="btn btn-primary"
    (click) = "toggleCoordForm()">
    {{showCoordForm ? "Odustani" : "Dodaj koordinate"}}
  </button>
  <br/><br/>
  <div *ngIf="showCoordForm"> 
    <form #addCoordForm="ngForm">
      <!-- X -->
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="newXcoord" class="form-control" placeholder="X koordinata" name="newXcoord"
          required [(ngModel)] = "newXcoord" [class.is-invalid]="xCoordHash.invalid && xCoordHash.touched" #xCoordHash="ngModel">
          <label for="newXcoord">X koordinata</label>  
        </div>
      </div>
      <!-- Y -->
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="newYcoord" class="form-control" placeholder="Y koordinata" name="newYcoord"
          required [(ngModel)] = "newYcoord" [class.is-invalid]="yCoordHash.invalid && yCoordHash.touched" #yCoordHash="ngModel">
          <label for="newYcoord">Y koordinata</label>  
        </div>
      </div>
      <button (click)="addNewCoord()" [disabled]="addCoordForm.form.invalid">OK</button>
    </form>
  </div>
</div>

<hr>

<div class="form-group my-div">
  <div class="form-label-group">
      <div class="my-div">
          <label>Stanica &nbsp;</label>
          <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" [(ngModel)]="chosenStationName" name="stationDropdownName">
              <option *ngFor = "let item of dropdownToPassStation.value">{{item}}</option>
          </select>
          &nbsp;&nbsp;&nbsp;   
      </div>     
  </div>
</div>
&nbsp;&nbsp;
<button (click)="showStationDetails()">Prikazi</button>
<hr>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Detalji stanice
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>X koordinata</th>
            <th>Y koordinata</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <form  #chosenLineForm="ngForm">
                <td>
                  <input type="text" name="stationName" [(ngModel)]="selectedName" class="form-control" required
                  [class.is-invalid]="changeStationNameHash.invalid && changeStationNameHash.touched"
                    #changeStationNameHash="ngModel" id="stationName">
                </td>
                <td>
                  <input type="text" name="stationAddress" [(ngModel)]="selectedAddress" class="form-control" 
                  [class.is-invalid]="changeStationAddressHash.invalid && changeStationAddressHash.touched"
                    #changeStationAddressHash="ngModel" required id="stationAddress">
                </td>
                <td>
                  <input type="text" name="xCoord" [(ngModel)]="selectedXCoord" disabled class="form-control" 
                  [class.is-invalid]="changeXCoordHash.invalid && changeXCoordHash.touched"
                    #changeXCoordHash="ngModel" id="xCoord">
                </td>
                <td>
                  <input type="text" name="yCoord" [(ngModel)]="selectedYCoord" disabled class="form-control" 
                  [class.is-invalid]="changeYCoordHash.invalid && changeYCoordHash.touched"
                    #changeYCoordHash="ngModel" id="yCoord">
                </td>
              </form>
            </tr>
        </tbody>
      </table>
      <button (click)="deleteStation()" [disabled]="chosenLineForm.form.invalid">Obrisi</button>
      <button (click)="changeStation()" [disabled]="chosenLineForm.form.invalid">Izmeni</button>
      </div>
    </div>
  <!-- <form #changeStationForm="ngForm">
    <div class="card-body">
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" name="stationName" [(ngModel)]="selectedName" class="form-control" required
          [class.is-invalid]="changeStationNameHash.invalid && changeStationNameHash.touched"
           #changeStationNameHash="ngModel" id="stationName">
          <label for="stationName">Naziv</label>
        </div>
      </div>
  
      <div class="form-group">
          <div class="form-label-group">
            <input type="text" name="stationAddress" [(ngModel)]="selectedAddress" class="form-control" 
            [class.is-invalid]="changeStationAddressHash.invalid && changeStationAddressHash.touched"
             #changeStationAddressHash="ngModel" required id="stationAddress"> 
             <label for="stationAddress">Adresa</label>
        </div>
      </div>
  
      <div class="form-group">
          <div class="form-label-group">
            <input type="text" name="xCoord" [(ngModel)]="selectedXCoord" disabled class="form-control" 
            [class.is-invalid]="changeXCoordHash.invalid && changeXCoordHash.touched"
             #changeXCoordHash="ngModel" id="xCoord">
             <label for="xCoord">X koordinata</label>
        </div>
      </div>
  
      <div class="form-group">
          <div class="form-label-group">
            <input type="text" name="yCoord" [(ngModel)]="selectedYCoord" disabled class="form-control" 
            [class.is-invalid]="changeYCoordHash.invalid && changeYCoordHash.touched"
             #changeYCoordHash="ngModel" id="yCoord">
             <label for="yCoord">Y koordinata</label>
        </div>
      </div>
      <button (click)="deleteStation()" >Obrisi</button>&nbsp;
      <button (click)="changeStation()" [disabled]="changeStationForm.form.invalid">Izmeni</button>
    </div>
  </form> -->
</div>

