
<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Registracija</div>
    <div class="card-body">
      <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="Email" class="form-control" #Email="ngModel" [(ngModel)]="user.Email" name="Email" placeholder="Ime" required="required" autofocus="autofocus">
                <label for="Email">Email</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" #Password="ngModel" [(ngModel)]="user.Password"name="Password"  placeholder="Lozinka" required="required">
                <label for="inputPassword">Lozinka</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="password" id="confirmPassword" class="form-control" #ConfirmPassword="ngModel" [(ngModel)]="user.ConfirmPassword" name="ConfirmPassword" placeholder="Potvrda lozinke" required="required">
                <label for="confirmPassword">Potvrda lozinke</label>
              </div>
            </div>
          </div>
        </div>
      

        <button class="btn btn-primary btn-block" type="submit">Register</button>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" [routerLink] = "['/login']">Login Page</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker4').datetimepicker({
      pickTime: false
    });
  });
</script>

