
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>Izmena cene tipa karte
  </div>
  <div class="card-body">
    <form #ticketTypeForm="ngForm">
      <div class="form-group">
          <label for="ticketType">Tip karte</label>
          <div class="form-label-group">
              <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" name="ticketType" 
              [(ngModel)]="selectedTicketType" (change)="ticketTypeChanged(event)">
                <option *ngFor="let item of ticketTypesDropdown.value">{{item}}</option>
              </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="ticketTypePrice" class="form-control" placeholder="Naziv Linije" required name="ticketTypePrice"
            [(ngModel)] = "selectedTicketTypePrice" [class.is-invalid]="TicketTypePriceHash.invalid && TicketTypePriceHash.touched" 
            #TicketTypePriceHash="ngModel">
            <label for="ticketTypePrice">Cena karte</label>  
          </div>
        </div>
        <button (click)="changeTicketTypePrice()" [disabled]="ticketTypeForm.form.invalid">Izmeni</button>
      </form>
  </div>
</div>


<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>Izmena popusta za odredjene korisnike
    </div>
    <div class="card-body">
      <form #passengerDiscountForm="ngForm">
        <div class="form-group">
          <label for="passengerType">Vrsta putnika</label>
          <div class="form-label-group">
            <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" name="passengerType" 
            [(ngModel)]="selectedPassengerType" (change)="passengerTypeChanged()">
              <option *ngFor="let item of passengerTypesDropdown.value">{{item}}</option>
              
            </select>
        </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="discountPrice" class="form-control" placeholder="Naziv Linije" required name="discountPrice"
            [(ngModel)] = "selectedDiscount" [class.is-invalid]="DiscountPriceHash.invalid && DiscountPriceHash.touched" 
            #DiscountPriceHash="ngModel">
            <label for="discountPrice">Popust</label>  
          </div>
        </div>
        <button (click)="changeDiscount()" [disabled]="passengerDiscountForm.form.invalid">Izmeni</button>
      </form> 
    </div>
  </div>