<form #redVoznjeForm="ngForm" (ngSubmit)="OnSubmit(redVoznjeForm)">
    <div class="form-group my-div">
        <div class="form-label-group">
            <div class="my-div">
                <label>Dan &nbsp;</label>
                <select (change)="selectDayChangeHandler($event)"  class="dropdown no-arrow dropdown-toggle" id="userDropdown">
                    <option  *ngFor = "let item of this.dropdownToPassDay.value">{{item}}</option>
                </select>   
                &nbsp;&nbsp;&nbsp;
                <label>Linija &nbsp;</label>
                <select (change)="selectLineChangeHandler($event)" class="dropdown no-arrow dropdown-toggle" id="userDropdown">
                        <option  *ngFor = "let item of this.dropdownToPassLine.value">{{item}}</option>
                </select>     
            </div>
        </div>
    </div>
    &nbsp;&nbsp;
    <button type="submit">Prikazi</button>
</form>

<hr>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Data Table Example</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th *ngFor = "let th of tableHeader">{{th}}</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor='let item of tableBody'>
                  <td *ngFor="let cell of item">
                    {{cell}}
                  </td>
              </tr>
          </tbody>
        </table>
        </div>
      </div>
</div>
