<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Change user information</div>
      <div class="card-body">
        <form #userUpdateForm="ngForm" (ngSubmit)="OnSubmit(userUpdateForm)">
          <!-- EMAIL -->
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="email" id="Email" [class.is-invalid]="EmailH.invalid && EmailH.touched" 
                  #EmailH="ngModel" class="form-control" [(ngModel)]="currentUser.Email" 
                  name="Email" required placeholder="Email" disabled>
                  <label for="Email">Email</label>
                </div>
              </div>
            </div>
          </div>
          <!-- NAME AND SURNAME -->
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="Name" class="form-control" #NameH="ngModel" 
                  [class.is-invalid]="NameH.invalid && NameH.touched"
                  [(ngModel)]="currentUser.Name" name="Name" placeholder="Name" required>
                  <label for="Name">Name</label>
                </div>
                <small class="text-danger" [class.d-none] = "NameH.valid || NameH.untouched">Required field!</small>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="Surname" class="form-control" #SurnameH="ngModel" 
                  [(ngModel)]="currentUser.Surname" name="Surname" placeholder="Surname" required 
                  [class.is-invalid]="SurnameH.invalid && SurnameH.touched">
                  <label for="Surname">Surname</label>
                </div>
                <small class="text-danger" [class.d-none] = "SurnameH.valid || SurnameH.untouched">Required field!</small>
              </div>
            </div>
          </div>
          <!-- ADDRESS -->
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="Address" class="form-control" #AddressH="ngModel"
                   [(ngModel)]="currentUser.Address" name="Address" placeholder="Address" required 
                   [class.is-invalid]="AddressH.invalid && AddressH.touched">
                  <label for="Address">Address</label>
                </div>
                <small class="text-danger" [class.d-none] = "AddressH.valid || AddressH.untouched">Required field!</small>
              </div>
            </div>
          </div>
          <!-- BIRTHDAY -->
          <!-- <div class="form-group">
            <div class="form-label-group">
              <input data-format="yyyy-MM-dd" type="date" id="Birthday" class="form-control" #Birthday="ngModel" [(ngModel)]="currentUser.Birthday" name="Birthday"/>
              <label for="Birthday">Datum rodjenja</label>
            </div>
          </div> -->
          
          <!-- tip putnika -->
          <div class="form-group my-div">
              <div class="form-label-group">
                  <div *ngFor = "let element of dropdownToPass" class="my-div">
                      <label>{{element.label}} &nbsp;</label>
                      <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" name="PassengerType" 
                      [(ngModel)] = "currentUser.PassengerType">
                          <option  *ngFor = "let item of element.value" [value]="item.value">{{item.name}}</option>
                      </select>
                      &nbsp;&nbsp;&nbsp;
                  </div>
              </div>
          </div>
  
          <button class="btn btn-primary btn-block" type="submit"
          [disabled]="userUpdateForm.form.invalid">Change info</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Change user information</div>
      <div class="card-body">
        <form #userPassChange="ngForm" (ngSubmit)="PassworrdChange(userPassChange)">
          <!-- PASS -->
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <show-hide-password btnStyle="primary">
                  <div class="form-label-group">
                    <input type="password" #Password="ngModel" id="inputPassword" class="form-control" #PasswordH="ngModel" 
                    [(ngModel)]="currentUser.Password" name="Password" required 
                    [class.is-invalid]="PasswordH.invalid && PasswordH.touched" placeholder="Password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{1,}$" minlength="6">
                    <label for="inputPassword">Password</label>
                  </div>
                </show-hide-password>              
                <div *ngIf="PasswordH.errors && (PasswordH.invalid || PasswordH.touched)">
                    <small class="text-danger" *ngIf="PasswordH.errors.required">
                    Required field! </small> 
                    <small class="text-danger" *ngIf="PasswordH.errors.minlength">
                      Password must have at least 6 characters! </small> 
                    <small class="text-danger" *ngIf="PasswordH.errors.pattern">
                      Password must contain at least 1 number, 1 big and small letter and 1 special character! </small>
                </div>
              </div>
              <div class="col-md-6">
                  <show-hide-password btnStyle="primary">
                      <div class="form-label-group">
                        <input type="password" id="confirmPassword" class="form-control" #ConfirmPasswordH="ngModel" 
                        [(ngModel)]="currentUser.ConfirmPassword" name="ConfirmPassword" placeholder="Confirm password" 
                        required [class.is-invalid]="ConfirmPasswordH.invalid && ConfirmPasswordH.touched" 
                        ng-pattern="currentUser.Password">
                        <label for="confirmPassword">Confirm password</label>
                      </div>
                  </show-hide-password>
                <small class="text-danger" [class.d-none]="ConfirmPasswordH.valid || ConfirmPasswordH.untouched">
                  Required field! </small> 
                <small class="text-danger" [class.d-none]="ConfirmPasswordH.untouched || currentUser.Password == currentUser.ConfirmPassword">
                  &nbsp;Passwords doesn't match!</small>
              </div>
            </div>
          </div>  
          <button class="btn btn-primary btn-block" type="submit"
          [disabled]="userPassChange.form.invalid">Change password</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Evidence</div>
      <div class="card-body">
        <form #uploadImageForm="ngForm" (ngSubmit)="uploadFile(uploadImageForm)">
          <div class="form-group my-div">
            <div class="form-label-group">
              <input type="file" class="form-control" name="dokaz"
              (change)="handleFileInput($event)" accept="image/png, image/jpeg"/>
              <label for="dokaz">User type evidence</label>
            </div>
          </div>

          <button class="btn btn-primary btn-block" type="submit"
          [disabled]="uploadImageForm.form.invalid">Upload image</button>
        </form>
      </div>
    </div>
  </div>