<div>
  <button type="button" class="btn btn-primary"
    (click) = "toggleForm()">
    {{showForm ? "Cancel" : "Add station"}}
  </button>
  <br/><br/>
  <div *ngIf="showForm"> 
    <form #addNewStationForm="ngForm">
      <!-- Name -->
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="StationName" name="StationName" class="form-control" placeholder="Station name" [(ngModel)]="newStationName" 
          [class.is-invalid]="NewStationNameHash.invalid && NewStationNameHash.touched" #NewStationNameHash="ngModel" required> 
          <label for="StationName">Station name</label>  
        </div>
      </div>
      <!-- Address -->
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="StationAddress" class="form-control" placeholder="Station address" 
          required [(ngModel)] = "newStationAddress" name="StationAddress"
          [class.is-invalid]="NewStationAddressHash.invalid && NewStationAddressHash.touched" #NewStationAddressHash="ngModel">
          <label for="StationAddress">Station address</label>  
        </div>
      </div>
      <!-- All coordinates -->
      <div class="form-group">
        <div class="form-label-group">
          <label>Coordinates</label><br><br>
          <select name="chooseCoord" class="dropdown no-arrow dropdown-toggle" id="userDropdown" 
          [(ngModel)]="chosenCoordAddToStation" required>
              <option *ngFor = "let item of coordinatesDropdown.value">{{item}}</option>
          </select>
        </div>
      </div>
      &nbsp;
      <button (click)="addNewStation()" [disabled]="addNewStationForm.form.invalid">OK</button>
    </form>
  </div>
  <hr>
</div>

<!-- Dodavanje novih koordinata -->
<div>
    <button type="button" class="btn btn-primary"
    (click) = "toggleCoordForm()">
    {{showCoordForm ? "Cancel" : "Add coordinates"}}
  </button>
  <br/><br/>
  <div *ngIf="showCoordForm"> 
    <form #addCoordForm="ngForm">
      <!-- X longitude-->
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="newXcoord" class="form-control" placeholder="X coordinate" name="newXcoord"
          required [(ngModel)] = "newXcoord" 
          pattern="^(\-?(([0-9]{1,2},(\d{1,6}))|(1[0-7][0-9],(\d{1,6}))|(180,(0{1,6}))))$"
          [class.is-invalid]="xCoordHash.invalid && xCoordHash.touched" #xCoordHash="ngModel">
          <label for="newXcoord">X coordinate</label>  
        </div>
        <div *ngIf="xCoordHash.errors && (xCoordHash.invalid || xCoordHash.touched)">
          <small class="text-danger" *ngIf="xCoordHash.errors.required">
            Required field! </small> 
          <small class="text-danger" *ngIf="xCoordHash.errors.pattern">
            aa,bbbbbb [-180,180]</small>
        </div>
      </div>
      <!-- Y latitude -->
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="newYcoord" class="form-control" placeholder="Y coordinate" name="newYcoord"
          required [(ngModel)] = "newYcoord" 
          pattern="^((\-?([0-9]{1},(\d{1,6}))|([1-8][0-9],(\d{1,6}))|(90,(0{1,6}))))$"
          [class.is-invalid]="yCoordHash.invalid && yCoordHash.touched" #yCoordHash="ngModel">
          <label for="newYcoord">Y coordinate</label>  
        </div>
        <div *ngIf="yCoordHash.errors && (yCoordHash.invalid || yCoordHash.touched)">
          <small class="text-danger" *ngIf="yCoordHash.errors.required">
            Required field! </small> 
          <small class="text-danger" *ngIf="yCoordHash.errors.pattern">
            aa,bbbbbb [-90,90]</small>
        </div>
      </div>
      <button (click)="addNewCoord()" [disabled]="addCoordForm.form.invalid">OK</button>
    </form>
  </div>
</div>

<hr>

<div class="form-group my-div">
  <div class="form-label-group">
      <div class="my-div">
          <label>Station &nbsp;</label>
          <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" [(ngModel)]="chosenStationName" name="stationDropdownName">
              <option *ngFor = "let item of dropdownToPassStation.value">{{item}}</option>
          </select>
          &nbsp;&nbsp;&nbsp;   
      </div>     
  </div>
</div>
&nbsp;&nbsp;
<button (click)="showStationDetails()">Show</button>
<hr>

<div class="card mb-3" *ngIf="stationDetails">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Station details
  </div>
  <form  #chosenLineForm="ngForm">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>X coordinate</th>
              <th>Y coordinate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" name="stationName" [(ngModel)]="selectedName" class="form-control" required
                [class.is-invalid]="changeStationNameHash.invalid && changeStationNameHash.touched"
                  #changeStationNameHash="ngModel" id="stationName">
              </td>
              <td>
                <input type="text" name="stationAddress" [(ngModel)]="selectedAddress" class="form-control" 
                [class.is-invalid]="changeStationAddressHash.invalid && changeStationAddressHash.touched"
                  #changeStationAddressHash="ngModel" required id="stationAddress">
              </td>
              <td>
                <input type="text" name="xCoord" [(ngModel)]="selectedXCoord" disabled class="form-control" 
                [class.is-invalid]="changeXCoordHash.invalid && changeXCoordHash.touched"
                  #changeXCoordHash="ngModel" id="xCoord">
              </td>
              <td>
                <input type="text" name="yCoord" [(ngModel)]="selectedYCoord" disabled class="form-control" 
                [class.is-invalid]="changeYCoordHash.invalid && changeYCoordHash.touched"
                  #changeYCoordHash="ngModel" id="yCoord">
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="deleteStation()" [disabled]="chosenLineForm.form.invalid">Delete</button>
        <button (click)="changeStation()" [disabled]="chosenLineForm.form.invalid">Edit</button>
      </div>
    </div>
  </form>
</div>
