<div *ngIf="show">
  <div style="margin: 0 auto;text-align: left;">
      <div>
          <label>Document</label>
          <div><img [src]="imageUrl" alt="document" height="250" width="220"></div>
      </div>
      <form #dokumentForm="ngForm" (ngSubmit)="OnSubmit(dokumentForm)">
        <div class="form-group my-div">
            <div class="form-label-group">
                <div class="my-div">  
                  <label>Validacija dokumenta &nbsp;</label>
                  <select [(ngModel)]="result" name="result" (change)="selectDocumentStatus($event)"  class="dropdown no-arrow dropdown-toggle">
                      <option>Validan</option>
                      <option>Nevalidan</option>
                  </select>    
                  &nbsp;&nbsp;&nbsp;
                </div> 
            </div>
            
        </div>
        &nbsp;&nbsp;
        <button type="submit">Posalji</button>
    </form>
  </div>
</div>

<hr>
<div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Data Table Example</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Dokaz</th>
                  <th>Tip putnika</th>
                  <th>Ime</th>
                  <th>Prezime</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let user of users'>
                    <td><img src={{user.Document}} height="25" width="20"/>                    </td>
                    <td>{{user.Type}}</td>
                    <td>{{user.Name}}</td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.documentStatus}}</td>
                    <td><button (click)="toggle(user.Email)" id="bt">
                      {{buttonName}}
                  </button></td>
                </tr>
            </tbody>
            </table>
            </div>
          </div>
    </div>