
    <div class="form-group my-div">
        <div class="form-label-group">
            <div class="my-div">
                <label>Linija &nbsp;</label>
                <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" [(ngModel)] = "selectedLine">
                    <option  *ngFor = "let item of dropdownToPassLine.value">{{item}}</option>
                </select>   
                &nbsp;&nbsp;&nbsp;   
            </div>     
        </div>
    </div>
    &nbsp;&nbsp;
    <button (click)="showLineDetails()">Prikazi</button>


<hr>

<app-my-table [tableHeaderElement] = "tableHeader" [tableBodyElement] = "tableBody"></app-my-table>
