<div>
  <button type="button" class="btn btn-primary"
    (click) = "toggleForm()">
    {{showForm ? "Odustani" : "Dodaj liniju"}}
  </button>
  <br/><br/>
  <div *ngIf="showForm"> 
    <form #addLineForm="ngForm">
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="LineName" class="form-control" placeholder="Naziv Linije" required name="LineName"
          [(ngModel)] = "newLineName" [class.is-invalid]="LineNameHash.invalid && LineNameHash.touched" #LineNameHash="ngModel">
          <label for="LineName">Naziv linije</label>  
        </div>
      </div>
      <div class="form-group">
          <label>Region</label>
          <div class="form-label-group">
              <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" [(ngModel)]="newLineRegion" name="regionDropdownName">
                <option value="0">gradski</option>
                <option value="1">prigradski</option>
              </select>
          </div>
      </div>
      &nbsp;
      <button (click)="addNewLine()" [disabled]="addLineForm.form.invalid">OK</button>
    </form> 
  </div>
  <hr>
</div>

<div class="form-group my-div">
    <div class="form-label-group">
        <div class="my-div">
            <label>Linija &nbsp;</label>
            <select class="dropdown no-arrow dropdown-toggle" id="userDropdown" [(ngModel)]="chosenLineName" name="lineDropdownName">
                <option  *ngFor = "let item of dropdownToPassLine.value">{{item}}</option>
            </select>   
            &nbsp;&nbsp;&nbsp;   
        </div>     
    </div>
</div>
&nbsp;&nbsp;
<button (click)="showLineDetails()">Prikazi</button>

<hr>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>Detalji linije
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Region</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <form  #chosenLineForm="ngForm">
                <td>
                  <input type="text" name="lineName" required [(ngModel)]="selectedName" 
                  [class.is-invalid]="SelectedNameHash.invalid && SelectedNameHash.touched" #SelectedNameHash="ngModel">
                </td>
                <td>
                    <select class="dropdown no-arrow dropdown-toggle" name="lineRegion" name="chosenRegionDropdownName"
                    [(ngModel)] = "selectedRegion" required>
                        <option *ngFor="let item of regionsDropdown.value" [value]="item.value">{{item.name}}</option>
                    </select>
                </td>
              </form>
            </tr>
        </tbody>
      </table>
      <button (click)="deleteLine()" [disabled]="chosenLineForm.form.invalid">Obrisi</button>
      <button (click)="changeLine()" [disabled]="chosenLineForm.form.invalid">Izmeni</button>
    </div>
  </div>
</div>
